@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  line-height: 1.5;
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: black;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: white;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(200, 200, 200);
}

/* nav */

nav {
  display: flex;
  width: 100%;
  height: 7vh;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 5rem;
  top: 0;
  position: fixed;
  z-index: 9999;
  backdrop-filter: blur(1em);
}

.nav-logo {
  flex: 1;
  color: white;
  font-size: 2rem;
}

.nav-menu {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

.nav-menu ul {
  display: flex;
  gap: 2rem;
}

.nav-menu ul li {
  list-style: none;
  font-size: 1rem;
}

.nav-menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.nav-btn {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-btn a {
  text-decoration: none;
  color: crimson;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5em 2em;
  border: 0.15em solid crimson;
  border-radius: 10vh;
  transition: 0.2s;
}

.nav-btn a:hover {
  color: white;
  background-color: crimson;
}

/* container */

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./assets/images/003.jpg);
  background-size: cover;
  display: flex;
  padding: 5vw;
  color: white;
}

.container .card-left {
  flex: 1;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.container .card-left h4 {
  font-size: 1em;
}

.container .card-left h1 {
  font-size: 4em;
}

.container .card-left p {
  font-size: 3em;
  font-weight: 200;
}

.container .card-left .form {
  margin-top: 3vh;
}

.container .card-left .form .form-email {
  position: relative;
  width: 40em;
  height: 3em;
}

.container .card-left .form .form-email .email {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1em;
  border: 0.25em solid transparent;
  border-radius: 5em;
}

.container .card-left .form .form-email .email:focus {
  border: 0.25em solid crimson;
}

.container .card-left .form .form-email .submit {
  position: absolute;
  right: 0;
  padding: 0 2em;
  height: 100%;
  border-radius: 5em;
  border: 0;
  background-color: crimson;
  font-size: 1em;
  font-weight: 900;
  color: white;
}

/* section - about me */

.container-about {
  display: flex;
  width: 100%;
  height: 50vh;
  background-color: rgb(15, 15, 15);
  display: flex;
  padding: 1vw;
  color: white;
  gap: 5vw;
}

.container-about .card-left {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container-about .card-left img {
  height: 100%;
  width: auto;
  border-radius: 1em;
}

.container-about .card-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.container-about .card-right h1 {
  font-size: 5em;
  margin-bottom: 0.5em;
  font-weight: 900;
}

.container-about .card-right h5 {
  font-size: 2em;
  margin-bottom: 0.25em;
  font-weight: 500;
}

.container-about .card-right p {
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 5em;
}

.container-about .card-right .whatsapp {
  text-decoration: none;
  color: white;
  background-color: crimson;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 900;
  border: 0.2em solid crimson;
  border-radius: 5em;
  transition: ease-in 150ms;
}

.container-about .card-right .whatsapp:hover {
  background-color: transparent;
  color: crimson;
}

/* section - service */

.container-service {
  display: flex;
  width: 100%;
  height: 70vh;
  background-color: black;
  padding: 5vw;
  color: white;
  gap: 5vw;
  justify-content: center;
  align-items: center;
}

.container-service .card-left {
  position: relative;
  background-color: rgb(15, 15, 15);
  width: 40vh;
  height: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  transition: ease-out 200ms;
}

.container-service .card-left:hover {
  transform: scale(105%);
}

.container-service .card-left h1 {
  color: crimson;
  font-size: 5em;
  margin: 0 auto;
  margin-bottom: 0.75em;
}

.container-service .card-left h2 {
  color: white;
  font-size: 1.75em;
  margin: 0 auto 0.5em;
}

.container-service .card-left p {
  color: white;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
}

.container-service .card-left a {
  bottom: 0;
  color: white;
  font-size: 1em;
  margin: auto auto 0;
  text-align: center;
  background-color: crimson;
  padding: 0.25em 0.5em;
  border-radius: 0.2em;
}

.container-service .card-center {
  position: relative;
  background-color: rgb(15, 15, 15);
  width: 40vh;
  height: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  transition: ease-out 200ms;
}

.container-service .card-center:hover {
  transform: scale(105%);
}

.container-service .card-center h1 {
  color: crimson;
  font-size: 5em;
  margin: 0 auto;
  margin-bottom: 0.75em;
}

.container-service .card-center h2 {
  color: white;
  font-size: 1.75em;
  margin: 0 auto 0.5em;
}

.container-service .card-center p {
  color: white;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
}

.container-service .card-center a {
  bottom: 0;
  color: white;
  font-size: 1em;
  margin: auto auto 0;
  text-align: center;
  background-color: crimson;
  padding: 0.25em 0.5em;
  border-radius: 0.2em;
}
.container-service .card-right {
  position: relative;
  background-color: rgb(15, 15, 15);
  width: 40vh;
  height: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  transition: ease-out 200ms;
}

.container-service .card-right:hover {
  transform: scale(105%);
}

.container-service .card-right h1 {
  color: crimson;
  font-size: 5em;
  margin: 0 auto;
  margin-bottom: 0.75em;
}

.container-service .card-right h2 {
  color: white;
  font-size: 1.75em;
  margin: 0 auto 0.5em;
}

.container-service .card-right p {
  color: white;
  font-size: 1em;
  margin: 0 auto;
  text-align: center;
}

.container-service .card-right a {
  bottom: 0;
  color: white;
  font-size: 1em;
  margin: auto auto 0;
  text-align: center;
  background-color: crimson;
  padding: 0.25em 0.5em;
  border-radius: 0.2em;
}

/* section - contact */
.container-contact {
  display: flex;
  width: 100%;
  background-color: rgb(25, 25, 25);
  padding: 3vh 20vw;
  color: white;
  gap: 5vw;
  justify-content: center;
  align-items: center;
}

.container-contact .card-left {
  flex: 1;
}

.container-contact .card-left h1 {
  font-size: 4em;
}

.container-contact .card-left h2 {
  font-size: 1.5em;
}

.container-contact .card-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: end;
}

.container-contact .card-right a {
  text-decoration: none;
  display: flex;
  color: white;
  font-size: 1.25em;
  width: 10em;
  height: auto;
  padding: 0.25em 1em;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border-radius: 5em;
  font-weight: 900;
}

.container-contact .card-right .discord {
  background-color: rgb(114, 137, 218);
}

.container-contact .card-right .instagram {
  background-color: rgb(253, 36, 76);
}

.container-contact .card-right .twitter {
  background-color: rgb(29, 161, 242);
}

.container-contact .card-right .linkedin {
  background-color: rgb(0, 119, 181);
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
